/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

.form-check-label {
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.form-check-input {
  width: 1.2rem;
  height: 1.2rem;
}
